
  $background-right-color: rgb(14,14,14);
  $background-left-color: rgb(40,41,77);
  $span-color: rgb(50,112,196);
  $link-color: rgb(48,107,194);
  $sent-color: rgb(121,252,182);
  $gray-text-color: rgb(85,93,106);
